<footer class="bg-white">

    <div class="color-white text-400 text-bg flex justify-center items-center min-h-footer w-full flex-wrap-reverse">
        <p class="m-5"> © 2023 {{ site.name }} </p>
        {% include 'components/social-icons.njk' %}
        <p class="m-5"> made by {{ site.author.name }} </p>

    </div>

</footer>

