<!doctype html>
<html lang="en">
  <head>
    {#import fonts#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&family=Titillium+Web:wght@600">
    <link href="/css/main.css" rel="stylesheet">

    {# include javascript#}
    <script src="/_js/main.js" type="module" defer></script>


    <link rel="icon" type="image/x-icon" href="/media/favicons/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta_title if meta_title else title }} | {{site.name}}</title>
     {# page meta #}
    <meta name="description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  </head>
  <body class="bg-bg text-white flex-col">
    <div class="relative h-full flex flex-col min-h-screen">
        <div class="shrink-0 w-full">
        {% include "components/header.njk" %}
        </div>
        <div class="grow container mx-auto">
          {{ content | safe }}
        </div>
        <div class="w-full shrink-0">
        {% include "components/footer.njk" %}
        </div>
    </div>

    <div class="sticky bottom-0 w-full z-50">
    {# include mobile nav #}
      {% include "components/mobile-nav.njk" %}
    </div>
  </body>
</html>