---
layout: components/page.njk
---

<div class="markdown">
    <h1> The board of {{ board.year }} </h1>
</div>

<div class="flex items-center flex-col">
    <img 
        class="w-full"
        src="{{ board.folder }}/{{ board.image }}"
    >
    </img>

    <div class="w-full py-5 gap-8 flex flex-wrap px-4">
        {% for member in board.members %}
            <div class="">
                <div class="relative aspect-[3/4] h-board-items-height overflow-hidden">
                    <img 
                        class="object-cover w-full h-full"
                        src="{{ board.folder }}/{{ member.image }}"
                    >
                    </img>
                    <p class="
                        absolute left-0 top-0 h-full w-full 
                        text-wrap p-4
                        opacity-0 bg-blue tresh:hover:opacity-100 duration-200 toggle-opacity
                        "> {{ member.description }} </p>

                </div>
                <div class="markdown">
                    <h2> {{ member.name }} </h2>
                    <p class="italic"> {{ member.role }} </p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# <div class="markdown">
    <h1> Previous boards </h1>
</div> #}



