<footer class="bg-white">
    <div class="text-400 text-bg flex justify-center items-center min-h-footer w-full flex-wrap gap-x-5 gap-y-2 p-2">
        <p> © 2023 {{ site.name }} </p>
        {% include 'components/social-icons.njk' %}
        <p> made by {{ site.author.name }} </p>
    </div>
</footer>

