<a class="flex flex-row gap-5 items-center justify-start" href="/" title="N.S.K.V. Profectus Home">
    <img
        src="/media/logos/logomark.svg"
        height="80"
        width="80"
    />
    <p class="font-large uppercase text-2xl font-extrabold hidden logo-tresh:block truncate w-full">
        N.S.K.V. Profectus
    </p>
</a>
