
<nav class="tresh:hidden w-screen min-h-footer overflow-hidden" aria-label="Primary">

    {% set navigation = collections.all | eleventyNavigation %}

    <ul id="mobile-nav-window" 
        class="bg-red w-full flex flex-col justify-start h-screen 
            items-end gap-3 p-5 fixed inset-y-0 z-10 py-16
            transform transition ease-in-out duration-0 translate-x-full"
    >
        {%- for item in navigation %}
            {# if the item is a parent of other children, draw the children #}
            {% if item.children.length %}
                <div class="font-large text-xl uppercase">
                    {{ item.title }}:
                </div>
                <div class="relative inline-block text-left">
                    <div class="w-full pr-4 border-r-2" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div class="py-1" role="none">
                        {%- for child in item.children %}
                            <a 
                                href="{{ child.url | url }}" 
                                class="{{ 'text-bg' if child.url === page.url }} inline-block font-large text-xl uppercase hover:text-bg text-right w-full"
                                role="menuitem"
                                tabindex="-1"
                                {{ 'aria-current=page' if child.url === page.url }}
                            >
                            {{ child.title }}
                        </a>
                        {%- endfor %}
                        </div>
                    </div>
                </div>
            {# else draw the item itself #}
        {% else %}
            <li>
                <a 
                    href="{{ item.url | url }}" 
                    class="hover:text-bg font-large text-xl uppercase {{ 'text-bg' if item.url === page.url }}" 
                    {{ 'aria-current=page' if item.url === page.url }}
                >
                    {{ item.title }}
                </a>
            </li>
            {% endif %}
        {%- endfor %}

        <li> 
            <a 
                href="{{ url }}/join_us" 
                class="
                    block hover:text-black border-2  p-3 rounded-md font-large text-xl uppercase 
                    {{ 'text-bg' if ([url, '/join_us/'] | join) === page.url }}
                    {{ 'border-bg' if ([url, '/join_us/'] | join) === page.url else border-white }}
                " 
                {{ 'aria-current=page' if item.url === page.url }}
            >
                    Join us!
            </a>
        </li>

    </ul>

    <button id="mobile-nav-toggle" class="bg-red w-full min-h-footer z-30 relative" aria-label="Mobile Navigation Toggle" aria-expanded="false" aria-controls="mobile-nav">

        <span class=" font-large text-xl uppercase">Menu</span>

        <span class="" aria-hidden="true">
            <span class="icon-line box-block bg-primary"></span>
            <span class="icon-line box-block bg-primary"></span>
            <span class="icon-line box-block bg-primary"></span>
        </span>
    </button>
</nav>
