<div class="flex flex-row flex-wrap items-center justify-start gap-3">
    {% for document in collections.documents %}
        <div>
            <a
                class="flex justify-center items-center  
                    bg-blue p-3  h-60  w-44 
                    hover:bg-red duration-200 origin-center hover:scale-105
                "
                href="/{{ document.path }}" 
                target="_blank" 
                rel="noreferrer noopener"
                title="{{ document.base }}"
            >
                <div>
                    {{ document.name }}
                </div>
            </a> 
        </div>
    {% endfor %}
</div>